@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Tech Lounge: Mashudu</h1>
    <h3>You will be able to CRUD items. Let's begin</h3>
    <a asp-action="Products" class="btn btn-primary">Current</a>
    <a asp-action="Update" class="btn btn-primary">Create/Update</a>

</div>
